@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #c5e5eb;
    --cor1: #6db8cf;
    --cor2: #5590a1;
    --cor3: #3e6875;
    --cor4: #2a4750;
    --cor5: #1c2f35;
    --cor5t: #1c2f3542;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

nav a{
    color: var(--cor4);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav a:hover{
    background-color: var(--cor3);
    color: white;
}

form{
    width: 500px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(146, 177, 177, 0.465);
    font-family: arial, helvetica, sans-serif;
}

.entrada{
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 1.2em;;
}

label{
    font-size: 1.2em;
}

#iusuario{
    margin-top: 55px;
}

#enviar {
    color: rgb(7, 7, 7);
    text-shadow: 1px 1px 2px rgb(33, 113, 121);
    background-color: rgb(138, 190, 190);
    margin: 10px;
    border-radius:25px;
    font-size:1.2em;
    width: 130px;
    height:40px;
    border-style: solid;
}

#enviar:hover{
    background-color: rgba(60, 136, 172, 0.513);
    color: rgb(22, 38, 75);
    border-color:rgb(22, 38, 75);
}

fieldset {
    
    padding: 10px;
}

#legend-principal{
   
   
    font-weight: bold;
    text-shadow: 2px 2px 7px rgba(2, 43, 43, 0.6);
    text-align: left;
    padding: 20px;
    font-size: 1.2em;
}

#itelefone{
    margin-bottom: 25px;
 }

input{
    border-radius:5px;
    height: 20px;    
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    font-size: 1em;
    padding-left: 10 px;
}

button:hover{
    cursor: pointer;
}

div{
    text-align: center;
}

