@charset "UTF-8";

@font-face {
    font-family: dancing;
    src: url(../fonte/DancingScript.ttf) format("truetype");
}

:root{
    --cor0: #c5e5eb;
    --cor1: #6db8cf;
    --cor2: #5590a1;
    --cor3: #3e6875;
    --cor4: #2a4750;
    --cor5: #1c2f35;
    --cor5t: #1c2f3542;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../img/tela-principal.jpg);
    background-size: cover;
    justify-content:center;
    height: 100vh;
    font-family: var(--fonte-padrao);
}

#titulo{
    margin: auto;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height:140px;
    position: absolute;
    top:75px;
    padding-top: 15px;
    width:100%;
    margin: auto;
    font-family: dancing;
    font-size:3em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.739);
    text-align: center;
    background: url(../img/papel-rasgado.png);
}

em{
    font-size: 1.3em;
    color: rgb(212, 162, 96);
}

.estante{
   position: relative;
   top: 140px;
}

footer{
    background-color:var(--cor2);
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 100%;
    position: absolute;
    bottom:0;
}

.estante{
    width: 75%;
    margin: auto;
}

.navegar{
    display:inline-flex;
    width: 100%; 
    margin-top:5px;
    justify-content: center;    
    position: relative;
    top:150px;
}

.setas{
    height: 40px;
    width: 50px;   
    cursor: pointer;
}

#seta-dir{
    margin-left: 10px;   
}

#seta-esq{
   margin-right: 10px;    
  }