@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #c5e5eb;
    --cor1: #6db8cf;
    --cor2: #5590a1;
    --cor3: #3e6875;
    --cor4: #2a4750;
    --cor5: #1c2f35;
    --cor5t: #1c2f3542;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

body{
    background: url(../tela-cadastro.jpg);
    background-size: cover;
    height: 100vh;
    font-family: var(--fonte-padrao);
}

form{
    width: 500px;
    height:430px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(146, 177, 177, 0.465);
    font-family: arial, helvetica, sans-serif;
    font-size: 1.2em;
}

form p{
   padding:10px;
}

fieldset {
    
    padding: 10px;
}

label{
    font-size: 1.2em;
}

#enviar{
    color: rgb(7, 7, 7);
    text-shadow: 1px 1px 2px rgb(33, 113, 121);
    background-color: rgb(138, 190, 190);
    margin: 65px;
    border-radius:25px;
    font-size:1em;
    width: 130px;
    height:40px;
    border-style: solid;
}

#enviar:hover{
    background-color: rgba(60, 136, 172, 0.513);
    color: rgb(22, 38, 75);
    border-color:rgb(22, 38, 75);
}

.entrada{
    margin: 15px;
}

input{
    border-radius:5px;
    height: 20px;    
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    font-size: 1em;
}

#cadastro{
    text-decoration: none;
    margin: 3px;
    display: flex;
    left:0;
  
}
#cadastro:visited{
    color: rgb(22, 38, 75);
}

nav a:hover{
    background-color: var(--cor3);
    color: white;
}

#ilogin{
    text-align: center;
}

#legend-login{
    font-weight: bold;
    text-shadow: 2px 2px 7px rgba(2, 43, 43, 0.6);
    text-align: left;
    padding: 20px;
}

#isenha{
    margin-top:15px;
}

#logo{
    height: 120px;
    width: 200px;
}

